.flex-row {
  display: flex;
}

.push {
  margin-left: auto;
}

.templateKey {
  width: 400px;
}

.dataKey {
  width: 300px;
}

.statusMessage {
  margin-top:10px;
  padding-left: 5em;
  color: #B00020;
}




#dataFieldList {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}

#dataFieldList li {
  background: #FAFAFA;
  margin-bottom: 1px;
  height: 56px;
  line-height: 56px;
  cursor: pointer;
}

#dataFieldList li:nth-child(2n) {
  background: #F3F3F3;
}

#dataFieldList li:hover {
  background: #FFFDE3;
  border-left: 5px solid #DCDAC1;
  margin-left: -5px;
}

#editor1 .data-field {
  background: #FFFDE3;
  padding: 3px 6px;
  border-bottom: 1px dashed #ccc;
}

#editor1 {
  border: 1px solid #E7E7E7;
  padding: 0 20px;
  background: #fff;
  position: relative;
}

