.flex-row {
  display: flex;
}

.push {
  margin-left: auto;
}

.templateKey {
  width: 400px;
}

.dataKey {
  width: 300px;
}

.statusMessage {
  margin-top:10px;
  padding-left: 5em;
  color: #B00020;
}

.dataFieldList {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}

.dataFieldList li {
  background: #FAFAFA;
  margin-bottom: 1px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  font-size: 13px;
  padding-left: 5px;
}

.dataFieldList li:nth-child(2n) {
  background: #F3F3F3;
}

.dataFieldList li:hover {
  background: #eee;
}

.dataFieldContainer {
  border: 1px solid #d1d1d1;
  border-left-style: none;
  width: 200px;
  background: #f8f8f8;
}

.dataFieldHeaderContainer {
  width: 200px;
  background: #f8f8f8;
  height: 40px;
}

.mat-expansion-panel-header {
  padding: 0 14px;
  font-size: 14px;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}


