.button-group {
  display: flex;
}

.flexbox-spacebetween {
  justify-content: space-between;
}

.item {
  box-sizing: border-box;
  padding: 1em;
}

.flex-row {
  display: flex;
}

.push {
  margin-left: auto;
}

.templateKey {
  width: 400px;
}

.dataKey {
  width: 300px;
}

.statusMessage {
  margin-top:10px;
  padding-left: 5em;
}
