<form [formGroup]="templateEditor" (ngSubmit)="onSubmit()">
  <div class="flex-row">
    <mat-form-field class="templateKey">
      <mat-label>Template Key</mat-label>
      <input matInput type="text" formControlName="templateKey" [readonly]="existingTemplate">
    </mat-form-field>
    <div class="push" >
      <mat-form-field class="dataKey">
        <mat-label>Data Key</mat-label>
        <input matInput type="text" formControlName="dataKey">
      </mat-form-field>
      <button [disabled]="!templateEditor.value.dataKey" (click)="renderTemplate()" type="button" mat-button>
        Preview
      </button>
    </div>
  </div>
  <div class="flex-row">
    <button type="button" (click)="copyTemplate()" [disabled]="dirty" mat-button>
      Copy
    </button>
    <button type="button" (click)="discardChangesAndClose()" mat-button>
      Close
    </button>
    <div class="statusMessage" *ngIf="statusMessage != ''">
      {{ statusMessage }}
    </div>
    <button id="saveButton" type="submit" [disabled]="!dirty || templateEditor.invalid || editorControl.mode == 'source'" class="push" mat-button>
      Save
    </button>
  </div>

  <ckeditor formControlName="templateData" (change)="editorChanged($event)" (ready)="editorReady($event)"
    [config]="editorConfig">
  </ckeditor>
</form>
