<form [formGroup]="templateEditor" (ngSubmit)="onSubmit()">
  <div class="flex-row">
    <mat-form-field class="templateKey">
      <mat-label>Template Name</mat-label>
      <input matInput type="text" formControlName="templateKey" [readonly]="existingTemplate">
    </mat-form-field>
    <div class="push">
      <mat-form-field class="dataKey">
        <mat-label>Data Key</mat-label>
        <input matInput type="text" formControlName="dataKey">
      </mat-form-field>
      <button [disabled]="!templateEditor.value.dataKey" (click)="renderTemplate()" type="button" mat-button>
        Preview
      </button>
    </div>
  </div>
  <div class="flex-row">
    <button type="button" (click)="copyTemplate()" [disabled]="canCopy()" mat-button>
      Copy
    </button>
    <button type="button" (click)="discardChangesAndClose()" mat-button>
      Close
    </button>
    <div class="statusMessage">
      <span class="errorMessage" *ngIf="templateEditor.controls.templateKey.errors?.inUse">
        Template name is in use. Please choose another name.
      </span>
      <span class="errorMessage" *ngIf="templateEditor.errors?.saveFailed">
        Save failed. Please try again.
      </span>
      <span class="statusMessage" *ngIf="statusMessage != ''">
        {{ statusMessage }}
      </span>
    </div>
    <button id="saveButton" type="submit" [disabled]="!canSave()" class="push" mat-button>
      Save
    </button>
  </div>

  <div id="editor1" name="editor1">
  </div>
</form>
