.filterby-form-field {
  width: 30em;
}

#headerContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-radio-group {
  margin-top: 20px;
}

mat-radio-button {
  padding-right: 40px;
}

td:first-child {
  width: 10em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

table {
  padding-left: 5em;
  width: 100%;
  font-size: 0.9em;
}

.arrow-right {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  margin-top: 6px;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-down {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  margin-top: 6px;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
