<form [formGroup]="dtsForm">
  <div id="headerContainer">
    <div>
      <button id="create" type="button" (click)="newTemplate()" mat-button [disabled]="documentType != 'enrollment'">
        <b>&#43;</b>
      </button>
      <mat-form-field class="filterby-form-field">
        <input class="filterBy" matInput type="text" formControlName="templateFilter"
               placeholder="Type to filter by name or author...">
        <button id="clear" mat-button *ngIf="dtsForm.value.templateFilter" matSuffix mat-icon-button aria-label="Clear"
                (click)="dtsForm.reset({ searchOptions: documentType })">
          &#120;
        </button>
      </mat-form-field>
    </div>
    <mat-radio-group aria-label="Select an option" formControlName="searchOptions">
      <mat-radio-button value="enrollment">Certificate</mat-radio-button>
      <mat-radio-button value="enrollment/partial">Partial</mat-radio-button>
      <mat-radio-button value="enrollment/image">Image</mat-radio-button>
      <mat-radio-button value="">All</mat-radio-button>
    </mat-radio-group>
  </div>
  <ngx-datatable
    #templateTable
    class="material striped"
    [rows]="rows | async"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [limit]="10"
    (activate)="rowClick($event)"
    [messages]="{ emptyMessage: 'No templates found.' }"
    [columnMode]="'flex'"
    [sorts]="[ {prop: 'templateKey', dir: 'asc'} ]">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="60">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <table>
          <tr>
            <td>Template Id</td>
            <td>{{ row.templateId }}</td>
          </tr>
          <tr>
            <td>Body Uri</td>
            <td>{{ row.bodyUri }}</td>
          </tr>
        </table>
      </ng-template>
    </ngx-datatable-row-detail>

    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)"
          [class.arrow-right]="!expanded"
          [class.arrow-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Template Name" prop="templateKey" [flexGrow]="1" >
    </ngx-datatable-column>

    <ngx-datatable-column name="Author" prop="author"  [canAutoResize]="false" minWidth="300">
    </ngx-datatable-column>

    <ngx-datatable-column name="Date/Time" prop="createdAt"   [canAutoResize]="false" minWidth="200">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | date:'short' }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Document Type" prop="docType"  [canAutoResize]="false" minWidth="200">
    </ngx-datatable-column>

  </ngx-datatable>
</form>
